@media screen {
    .wrapper {
        width: 330px;
        margin: auto;
    }

    h1 {
        font-size: 25px;
        line-height: 35px;
    }

    h1 span {
        font-size: 25px;
        line-height: 35px;
    }

    .header__container {
        display: flex;
        flex-direction: row-reverse;
        padding: 36px 25px;
        min-height: 100%;
    }

    .hamburger {
        width: 40px;
        height: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
    }

    .hamburger-line {
        width: 40px;
        height: 0px;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid #717171;
    }

    .hamburger-line:nth-child(2) {
        top: calc(50% - 6px);
    }

    .hamburger-line:nth-child(3) {
        top: calc(50% - -1px);
    }

    .hamburger-line:nth-child(4) {
        top: calc(50% - -8px);
    }

    .nav__menu {
        position: absolute;
        top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    padding: 15px;
	    transform: translateX(-100%);
	    transition: transform 0.5s;
    }

    .nav__menu.active {
        transform: translateX(0);
    }

    .nav-item {
        list-style-type: none;
    }

    .hamburger:active .hamburger-line:nth-child(4) {
        display: none;
    }

    .hamburger:active .hamburger-line:nth-child(3) {
        display: none;
    }

    .hamburger:active .hamburger-line:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }

    .hamburger:active .hamburger-line:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome-img {
        display: none;
    }

    .welcome__container {
        padding: 0 0 0 0;
        max-height: 516px;
    }

    .wel-parag {
        width: 330px;
        height: 300px;
        padding: 24px 0 24px 0;
    }

    .wel-paragtext {
        font-size: 16px;
        line-height: 25px;
        width: 100%;
    }

    .buttonPla {
        width: 100px;
        height: 34.14px;
        font-size: 10px;
        line-height: 20px;
    }

    .about__container {
        padding: 30px 0 31.33px 0;
        justify-content: center;
    }

    .about__title {
        font-size: 25px;
        line-height: 32.57px;
        width: 288px;
        text-align: center;
    }

    .aboutText-2 {
        font-size: 15px;
        line-height: 25px;
        padding-top: 21.55px;
    }

    .houseplant1 {
        width: 150px;
        height: 147px;
        background-size: contain;
    }

    .aboutText {
        width: 330px;
        height: 100%;
        padding-top: 0;
    }

    .serviceHeadText {
        font-size: 25px;
        line-height: 32.57px;
        width: 187px;
    }

    .serviceHeadText2 {
        font-size: 25px;
        line-height: 32.57px;
        padding-bottom: 35px;
    }

    .serviceHead {
        display: flex;
        padding: 0 0 0 0;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 250px;
    }

    .servicebtn {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 19.54px;
    }

    .servicebtn:last-child {
        margin-top: 9px ;
    }

    .gallery {
        justify-content: center;
        width: 280px;
        height: 2870px;
        margin: auto;
        align-items: flex-start;
        padding: 40px 0 27px 0;
        align-content: space-between;
    }

    .galleryFoto1 {
        width: 279px;
        height: 350px;
        border-radius: 20px 20px 0 0;
    }
    .galleryFoto2 {
        width: 279px;
        height: 350px;
        border-radius: 20px 20px 0 0;
    }
    .galleryFoto3 {
        width: 279px;
        height: 350px;
        border-radius: 20px 20px 0 0;
    }
    .galleryFoto4 {
        width: 279px;
        height: 350px;
        border-radius: 20px 20px 0 0;
    }
    .galleryFoto5 {
        width: 279px;
        height: 350px;
        border-radius: 20px 20px 0 0;
    }
    .galleryFoto6 {
        width: 279px;
        height: 350px;
        border-radius: 20px 20px 0 0;
    }

    .galleryText {
        width: 279px;
        height: 100px;
        padding: 10px 0 20px 0;
    }

    .galleryTextBolt {
        line-height: 20px;
    }

    .galleryTextBolt__normal {
        font-size: 16px;
        line-height: 20px;
    }

    .prices__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        padding: 25px 0 40px 0;
    }

    .pricesAbout {
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prices__title {
        font-size: 25px;
        line-height: 30.26px;
        text-align: center;
        padding-bottom: 40px;
    }

    .pricesMenu {
        margin: 0;
        width: 224px;
        height: 235px;
    }

    .pricesButton {
        width: 180px;
        height: 49.72px;
        font-size: 15px;
        line-height: 20px;
    }

    .pricesBlockText {
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        padding: 19px 0 14px 0;
        width: 230px;
    }

    .pricesbtn {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 19.54px;
    }

    .pricesBlock {
        display: flex;
        align-items: center;
        height: 140px;
    }

    .pricesBlockleaves {
        display: none;
    }

    .contact_woman, .woman {
        width: 100px;
        height: 124.25px;
        object-fit: contain;
    }

    .contact_woman {
        padding: 132px 0 0 0;
    }

    .contacts__title {
        font-size: 25px;
        line-height: 32.57px;
        padding: 30px 0 0 0;
    }

    .contactsbutton__cont {
        padding: 0 0 0 0;
    }

    .contactContainer {
        height: 485px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 80px 0 0 0;
    }

    .contactsbutton {
        width: 300px;
        justify-content: space-between;
        padding: 0 17px 0 20px;
    }

    .btn__text {
        font-size: 20px;
        line-height: 40px;
        padding-left: 0;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        padding: 22px 0 0 0;
    }

    .footerdata {
        width: 210px;
        line-height: 24.2px;
    }

    .gitMy, .rs {
        line-height: 24.2px;
        font-size: 20px;
    }

}