@font-face {
    font-family: Inika;
     src: url("Inika/Inika-Regular.ttf");
     font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 21px;
   }

@font-face {
    font-family: Inter;
    src: url("Inter/static/Inter-Regular.ttf");
}

body {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    background: #EDF2EC;
}


.menu {
    background-color: #EDF2EC;
    width: 1440px;
    margin: 0 auto;
}

.wrapper_menu {
    width: 1222px;
    height: 134px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 111px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    margin-left: 40px;
    flex-grow: 1;
    align-items: flex-start;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    list-style: none;
    padding:  0px 46px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-family: Inika;
}

.nav-item a:hover {
    color: #E06733;
    font-weight: bold;
  }

.welcome {
    width: 1440px;
    height: 532px;
    background-color: #EDF2EC;
    padding: 0 109px 0px 109px;
    box-sizing: border-box;
}

.welcome-wrapper {
    width: 1222px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.welcome-img {
    background-image: url(img/welcomeleact.png);
    background-repeat: no-repeat;
    width: 449px;
    height: 411px;
    display: inline-block;
}


.wel-parag {
    width: 549px;
    height: 340px;
    padding-top: 30px;
}

H1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

h1 span {
    color: #499A18;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}

.wel-paragtext {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    width: 525px;
}

.buttonPla {
    border: 2px solid orange;
    border-radius: 15px;
    width: 158px;
    height: 44px;
    cursor: pointer;
}

.buttonPla:hover {
    background-color: #E06733;
    color: white;
    transition: 0.6s;
    transform: scale(1);
}

.about {
    height: 666px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.aboutText {
    padding: 93px 0px 0px 119px;
    width: 605px;
    height: 205px;
}

h2 {
    font-weight: 400;
    color: #499A18;
    font-size: 40px;
    line-height: 52px;
    width: 400px;
}

h2 span {
    color: #E06733;
}

.aboutText-2 {
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.houseplant1 {
    background: url(img/houseplant1.png) no-repeat;
    height: 479px;
    width: 464px;
    margin-top: 93px;
    margin-right: 109px;
}

.service {
    padding: 40px 50px 20px 109px;
}

.serviceHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px 10px 10px;
}

.serviceHeadText {
    width: 306px;
    height: 94px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52.12px;
}

.servicebtn {
    border: 1px solid orange;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    color: #E06733;
    cursor: pointer;
}

.servicebtn:hover {
    background-color: #E06733;
    color: white;
    transition: 0.6s;
    transform: scale(1);
}

.gallery {
    display: flex;
    width: 1222px;
    height: 955px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.galleryFoto1 {
    background: url(img/service1.png)no-repeat;
    width: 329px;
    height: 350px;
}

.galleryText {
    width: 329px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    margin-top: 350px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    color: #717171;
}

.galleryTextBolt {
    font-family: Inter;
    font-size: 20px;
    color: #E06733;
    font-weight: bold;
}

.galleryFoto2 {
    background: url(img/service2.png)no-repeat;
    width: 329px;
    height: 350px;
}

.galleryFoto3 {
    background: url(img/service3.png)no-repeat;
    width: 329px;
    height: 350px;
}

.galleryFoto4 {
    background: url(img/service4.png)no-repeat;
    width: 329px;
    height: 350px;
}

.galleryFoto5 {
    background: url(img/service5.png)no-repeat;
    width: 329px;
    height: 350px;
}

.galleryFoto6 {
    background: url(img/service6.png)no-repeat;
    width: 329px;
    height: 350px;
}

.prices {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    padding: 50px 50px 20px 109px;
    height: 550px;
}

.pricesAbout {
    width: 200px;
}

.pricesAbout h2 {
    color: black;
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
}

.pricesMenu {
    margin-top: 100px;
    width: 250px;
    height: 300px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pricesButton {
    background-color: #EDF2EC;
    width: 200px;
    height: 50px;
    color: black;
    border-radius: 20px;
    border: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.pricesBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 450px;
}

.pricesBlockText {
    color: black;
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
}

.pricesBlockText span {
    color: #499A18;
}

.pricesbtn {
    margin-top: -10;
    border: 1px solid orange;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    color: #E06733;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.pricesbtn:hover {
    background-color: #E06733;
    color: white;
    transition: 0.6s;
    transform: scale(1);
}

.pricesBlockleaves {
    width: 152px;
    height: 175px;
}

.contacts h2 {
    margin: 0 auto;
    padding-top: 30px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}

.contactContainer {
    width: 1440px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.contact_woman {
    padding-left: 109px;
}

.contactsbutton {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0px;
    margin: 148px 109px 0px 0px;
}

.footer {
    width: 1440px;
    height: 130px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footerdata {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.gitMy {
    text-decoration: none;
    color: black;
    background-color: white;
}

.rs {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    background-color: white
}

.social-list {
    display: flex;
    width: 188px;
    justify-content: flex-end;
}

.social-item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center
}

.item-li {
    padding: 10px;
}