/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}
ul,
ol,
li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    /*line-height: 1;
    font-size: 16px;
    color: black;*/
}

._container {
    max-width: 1222px;
    margin: 0 auto;
}

@font-face {
    font-family: Inika;
     src: url("Inika/Inika-Regular.ttf");
     font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 21px;
   }

@font-face {
    font-family: Inter;
    src: url("Inter/static/Inter-Regular.ttf");
}

.menu {
    background-color: #EDF2EC;
}

.wrapper {
    width: 1222px;
    display: block;
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
    margin: auto;
}

.header__container {
    display: flex;
    min-height: 134px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    flex-grow: 1;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    padding:  0px 19px;
    font-size: 16px;
    line-height: 50px;
    font-family: Inika;
    font-weight: 400;
    cursor: pointer;
    color: black;
}

.nav-item a:hover {
    color: #E06733;
    font-weight: bold;
  }

.welcome {
    background-color: #EDF2EC;
}

.welcome__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.welcome-img {
    background-image: url(img/welcomeleact.png);
    background-repeat: no-repeat;
    width: 449px;
    height: 411px;
    display: inline-block;
}

.wel-parag {
    width: 549px;
    height: 340px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

H1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

h1 span {
    color: #499A18;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}

.wel-paragtext {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    width: 525px;
}

.buttonPla {
    border: 2px solid orange;
    border-radius: 15px;
    width: 158px;
    height: 44px;
    cursor: pointer;
}

.buttonPla:hover {
    background-color: #E06733;
    color: white;
    transition: 0.6s;
    transform: scale(1);
}

.about {
    background: white;
}

.about__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 93px 0 94px 0;
}

.aboutText {
    width: 605px;
    height: 205px;
    padding-top: 74px;
}

.about__title {
    font-family: Inika;
    font-weight: 400;
    color: #499A18;
    font-size: 40px;
    line-height: 52px;
    width: 450px;
}

h2 span {
    color: #E06733;
}

.aboutText-2 {
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    padding-top: 40px;
}

.houseplant1 {
    background: url(img/houseplant1.png) no-repeat;
    width: 464px;
    height: 479px;
}

.service {
    background-color: #EDF2EC;
}

.service__container {
    padding: 50px 0 121px 0;
    flex-wrap: wrap;
}

.serviceHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px 10px 10px;
}

.serviceHeadText {
    font-family: Inika;
    font-weight: 400;
    font-size: 40px;
    line-height: 52.12px;
    color: #499A18;
}

.serviceHeadText2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 52.12px;
    color: #499A18;
}

.servicebtn {
    border: 1px solid orange;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    color: #E06733;
    cursor: pointer;
    font-size: 20px;
    line-height: 26px;
    font-family: Inika;
}

.servicebtn:hover {
    background-color: #E06733;
    color: white;
    transition: 0.6s;
    transform: scale(1);
}

.gallery {
    display: flex;
    width: 1222px;
    height: 955px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.galleryFoto1 {
    background: url(img/service1.png)no-repeat;
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

.galleryText {
    width: 329px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    margin-top: 350px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    color: #717171;
    font-weight: 400;
}

.galleryTextBolt {
    font-family: Inter;
    font-size: 20px;
    color: #E06733;
    font-weight: bold;
}

.galleryTextBolt__normal {
    padding: 10px 0 20px 0;
}

.galleryFoto2 {
    background: url(img/service2.png)no-repeat;
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

.galleryFoto3 {
    background: url(img/service3.png)no-repeat;
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

.galleryFoto4 {
    background: url(img/service4.png)no-repeat;
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

.galleryFoto5 {
    background: url(img/service5.png)no-repeat;
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

.galleryFoto6 {
    background: url(img/service6.png)no-repeat;
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

.prices {
    background: white;
}

.prices__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0 95px 0;
}
.pricesAbout {
    width: 200px;
}

.prices__title {
    color: black;
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
}

.pricesMenu {
    margin-top: 100px;
    width: 250px;
    height: 300px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pricesButton {
    background-color: #EDF2EC;
    width: 200px;
    height: 50px;
    color: black;
    border-radius: 20px;
    border: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.pricesBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 450px;
}

.pricesBlockText {
    color: black;
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
}

.pricesBlockText span {
    color: #499A18;
}

.pricesbtn {
    border: 1px solid orange;
    border-radius: 5px;
    width: 162px;
    height: 50px;
    color: #E06733;
    background-color: white;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
    line-height: 26px;
}

.pricesbtn:hover {
    background-color: #E06733;
    color: white;
    transition: 0.6s;
    transform: scale(1);
}

.pricesBlockleaves {
    width: 152px;
    height: 175px;
}

.contacts {
    background-color: #EDF2EC;
}

.contacts__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts__title {
    margin: 0 auto;
    padding-top: 30px;
    font-family: Inika;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.contactContainer {
    width: 1222px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact_woman {
    height: 497px;
    width: 400px;
}

.contactsbutton {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0px;
}

.contactsbutton__cont {
    padding: 148px 109px 0px 0px;
}

.btn__text {
    padding-left: 20px;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color: #717171;
}

.footer {
    background-color: white;
}

.footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0 40px 0;
}

.footerdata {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.gitMy {
    text-decoration: none;
    color: black;
    background-color: white;
}

.rs {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    background-color: white
}

.social-list {
    display: flex;
    width: 188px;
    justify-content: flex-end;
}

.social-item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center
}

.item-li {
    padding: 10px;
}