@media screen {
    .wrapper {
        width: 668px;
        margin: auto;
    }

    .header__container {
        min-height: 117px;
    }

    .welcome__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 40px 0 70px 0;
    }

    .wel-parag {
        width: 346px;
        height: 310px;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .welcome-img {
        width: 280px;
        height: 255px;
        background-size: contain;
    }

    h1, h1 span {
        font-size: 35px;
    }

    .wel-paragtext {
        font-size: 16px;
    }

    .about__container {
        padding: 40px 0 95px 0;
        display: flex;
        justify-content: center;
    }

    .aboutText {
        padding: 40px 0 0 0;
        text-align: center;
        width: 432px;
        height: 350px;
    }

    h2 {
        font-size: 35px;
        line-height: 46px;
    }

    .aboutText-2 {
        width: 665px;
        height: 208px;
        text-align: left;
        margin-left: -100px;
    }

    .houseplant1 {
        width: 250px;
        height: 258px;
        background-size: contain;
        padding: 40px 0 0 0;
    }

}
